{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} 

{% block content %}

<h2 class="text-center">{{ title }}</h2>
<hr />


{% if messages %}
<ul class="messages text-center">
    {% for message in messages %}
    <li{% if message.tags %} class="text-success"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



<div class="row">
  <div class="col-10 mx-auto">
      <table class="table table-hover text-success">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Category Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            
              {% for cat in categories %}
              <tr>
                  <td> {{ forloop.counter }} </td>
                  <td> {{ cat.name }} </td>
                  <td>  
                      <a href="{% url 'posts:category-update' cat.pk %}" name="view"
                          class="btn btn-outline-success btn-sm"> <span class="fa fa-edit"></span>
                      </a>
                      <a href="{% url 'posts:category-delete' cat.pk %}" name="view"
                      class="btn btn-outline-danger btn-sm"> <span class="fa fa-trash"></span>
                  </a>
                  </td>
              </tr>
              {% endfor %}
          

          </tbody>
        </table>
        {% include 'posts/pagination.html' with obj_pagination=categories %}
  </div>
</div>


{% endblock content %}
