<div>
    <h5 class='text-muted mb-3'>Meet the Author</h5> <hr />
    <div class='card'>
      <img
        src='https://img.freepik.com/free-photo/businessman-using-digital-tablet-while-colleague-background_107420-17056.jpg?size=626&ext=jpg'
        class='card-img-top'
        alt='...'
      >
      <div class='card-body'>
        <p class='card-text'>
          Gillion is a multi-concept WordPress theme that lets you create
          blog, magazine, news, review websites. With clean and functional
          design and lots of useful features theme will deliver amazing user
          experience to your clients and readers.
        </p>
        <a href='' class='btn btn-secondary rounded-lg'>
          learn more
        </a>
      </div>
    </div>
    <div class='mt-5'>
      <h5 class='text-muted'>Social Media</h5> <hr />
      <p>
        <div class='btn-group' role='group'>
          <a href="https://facebook.com/barocoding"> <i class='fab fa-facebook'></i></a>
          <a href="https://twitter.com"><i class='fab fa-twitter'></i></a>
           <a href="https://instagram.com"><i class='fab fa-instagram'></i></a>
            <a href="https://google-plus.com"> <i class='fab fa-google-plus'></i></a>
            <a href="https://linkein.com">  <i class='fab fa-linkedin'></i> </a>
        </div>
      </p>
    </div>
    <div class='mt-5'>
      <h5 class='text-muted'>Categories</h5> <hr />
      <p>
        <ul class='list-group'>
          
          {% for category in categories %}
          <li class='list-group-item d-flex justify-content-between align-items-center'>
            {{category.name|upper}}
            
          </li>
            
          {% endfor %}
            
        
  
        </ul>
      </p>
    </div>
    
   
  </div>